<div class="container">
  <h1>Twitter Page</h1>
  <h2>Enter a username to inspect his/her tweets!</h2>
  <form name="input" action="/my_name" method="get">
  Username: <input type="text" name="name">
  <input type="submit" value="Submit">
  </form> 

</div>

 <%= erb :_tweets_page %>


 