<div class='tweet'>
<h1>Tweet from here:</h1>
<h2>Enter a tweet:</h2>

  <form name="input" action="/tweet_it" method="post">
    Tweet: <input type="text" name="tweet">
    <input type="submit" value="Submit">
  </form> 

 </div>


