<div class="page-header">
  <h1>Twitter Page</h1>
  <small>Enter a username to inspect his/her tweets!</small>
  <form name="input" action="/my_name" method="get">
  <input type="text" name="name">
  <input type="submit" value="Submit">
  </form> 

</div>

 <%= erb :_tweets_page %>
